.main {
	margin: 25% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* trying to create an underline effect when hovered*/
.button {
	position: relative;
	text-decoration: none;
	color: #000;
	padding: 0.225rem 0.95rem;
	text-transform: uppercase;
}

.button::before {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: #000;
	transition: width 0.3s ease-in-out;
}

.button:hover::before {
	width: 100%;
}

.label {
	font-size: 1.2rem;
}

.input {
	font-size: 1.2rem;
	border: none; /* remove the default border */
	outline: none; /* remove the default outline */
	border-radius: 0.33rem;
	padding: 0.225rem 0.5rem;
}

.input:focus {
	border-bottom: 5.2px solid black; /* add a bottom border when focused */
}
